.about {
    height: 100vh;
    margin-left: 5rem;
    overflow-x: hidden;
}

.top {
    height: 35%;
    display: flex;
    background-color: #333;
}

.top>div {
    height: 100%;
}

.slider {
    width: 80%;
    position: relative;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .4s ease-in-out;
}

.slide>img {
    height: 100%;
    width: 100%;
}

.slide>h2 {
    position: absolute;
    top: 15%;
    right: 8%;
    color: var(--primary-text);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.prev,
.next {
    width: 10%;
    z-index: 1;
    position: relative;
}

.prev:hover,
.next:hover {
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dots>div {
    border: 3px solid #333;
    border-radius: 50%;
    background-color: #eee;
    height: .7rem;
    width: .7em;
    margin: 0 .2rem;
    margin-bottom: .3rem;
    transition: all .4s ease-in-out;
}

.bottom {
    height: 65%;
    position: relative;
}

.dropDown {
    z-index: -1;
    height: 100%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: all .6s ease-in-out;
    background-color: rgba(248, 250, 252, 0.7);
}

.arrow_right,
.arrow_left {
    display: block;
    position: absolute;
    top: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border-top: 4px solid var(--primary);
    border-left: 4px solid var(--primary);
    transition: all .2s ease-in-out;
}

.arrow_right {
    right: 50%;
    transform: rotate(135deg) translateX(-50%);
}

.next:hover>.arrow_right {
    transform: rotate(135deg) scale(1.1) translateX(-50%);
}

.arrow_left {
    left: 50%;
    transform: rotate(-45deg) translateY(-50%);
}

.prev:hover>.arrow_left {
    transform: rotate(-45deg) scale(1.1) translateY(-50%);
}

@media (max-width: 1200px) {
    .arrow_right {
        margin-right: .5rem;
    }

    .arrow_left {
        margin-left: .5rem;
    }
}

@media (max-width: 1000px) {

    .arrow_right,
    .arrow_left {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 850px) {

    .arrow_right,
    .arrow_left {
        width: 2rem;
        height: 2rem;
    }
}



@media (max-width: 670px) {
    .about {
        margin-left: 0;
    }

    .arrow_right,
    .arrow_left {
        width: 1.5rem;
        height: 1.5rem;
        border-top: 3px solid var(--primary);
        border-left: 3px solid var(--primary);
    }
}

@media (max-width: 450px) {

    .arrow_right,
    .arrow_left {
        width: 1rem;
        height: 1rem;
    }

    .arrow_right {
        margin-right: .5rem;
    }

    .arrow_left {
        margin-left: 0;
    }
}